.sb_level2 .sb_level2_head_1 {
    min-width: 96px;
    margin-right: 10px;
    width: 1196px;
}


.sb_level2.level1bg {
    width: 110px;
}

.sb_level2.level2bg {
width: 110px;
left: 712px;
}

.sb_level2.level3bg {
    width: 110px !important;
    left: 817px !important;
}

.sb_level2.level4bg {
    width: 110px !important;
    left: 923px !important;
}

.sb_level2.level5bg {
    width: 110px !important;
    left: 1029px !important;
    position: absolute;
    top: 255px;
}

.sb_level2.level6bg {
    width: 96px !important;
    left: 1136px !important;
    position: absolute;
    top: 255px;
}

.sb_level2.level7bg {
    width: 110px !important;
    left: 1243px !important;
    position: absolute;
    top: 255px;
}

.sb_level2.level8bg {
    width: 110px !important;
    left: 1350px !important;
    position: absolute;
    top: 255px;
}

.sb_level2.level9bg {
    width: 110px !important;
    left: 1456px !important;
    position: absolute;
    top: 255px;
}

.sb_level2.level10bg {
    width: 110px !important;
    left: 1563px !important;
    position: absolute;
    top: 255px;
}

.sb_level2.level11bg {
    width: 110px !important;
    left: 1669px !important;
    position: absolute;
    top: 255px;
}

.sb_level2.level12bg {
    width: 94px !important;
    left: 1775px !important;
    position: absolute;
    top: 255px;
}

.sb_level2 .sbpointbg {
    height: 69px;
    margin: 0 0 52px 0;
    width: 100%;
}

.sb_level2 .l1-top-head-1 {
    left: 0 !important;
    width: 100%;
    text-align: center;
}

.sb_level2 .l1-top-head-2 {
    left: 120px !important;
    width: 92px;
}

.sb_level2 .l1-top-head-3 {
    left: 226px !important;
    width: 92px;
}

.sb_level2 .l1-top-head-4 {
    left: 332px !important;
    width: 92px;
}

.sb_level2 .l1-top-head-5 {
    left: 438px !important;
    width: 92px;
}

.sb_level2 .l1-top-head-6 {
    left: 544px !important;
    width: 92px;
}

.sb_level2 .l1-top-head-7 {
    left: 650px !important;
    width: 92px;
}

.sb_level2 .l1-top-head-8 {
    left: 756px !important;
    width: 92px;
}

.sb_level2 .l1-top-head-9 {
    left: 862px !important;
    width: 92px;
}

.sb_level2 .l1-top-head-10 {
    left: 962px !important;
    width: 92px;
}

.sb_level2 .l1-top-head-11 {
    left: 1065px !important;
    width: 92px;
    text-align: center;
}

.sb_level2 .l1-top-head-12 {
    left: 1171px !important;
    width: 92px;
    text-align: center;
}

.sb_level2 .total-points-column2 {
    margin-left: 4px;
}

.sb_level2 .total-points-column3 {
    margin-left: 215px;
}


.sb_level2 .total-points-column9 {
    margin-left: 229px;
}

.sb_level2 .total-points-column4 {
    margin-left: -154px;
}

.sb_level2 .total-points-column5 {
    margin-left: 10px;
}

.sb_level2 .total-points-column6 {
    margin-left: 215px;
}

.sb_level2 .total-points-column7 {
    margin-left: -150px;
}

.sb_level2 .total-points-column8 {
    margin-left: 10px;
}

.sb_level2 .total-points-column11 {
    margin-left: 23px;
}

.sb_level2 .total-points-column12 {
    margin-left: 224px;
}

.d1-l2 {
    position: relative;
    left: 0px;
}


.d2-l2 {
    position: relative;
    left: -1px;
}

.d3-l2 {
    position: relative;
    left: 10px;
}

.d4-l2 {
    position: relative;
    left: -1px;
}

.d5-l2 {
    position: relative;
    left: 7px;
}

.d6-l2 {
    position: relative;
    left: 8px;
}

.d7-l2 {
    position: relative;
    left: 4px;
}

.d8-l2 {
    position: relative;
    left: 8px;
}

.d9-l2 {
    position: relative;
    left: 14px;
}

.d10-l2 {
    position: relative;
    left: 4px;
}

.d11-l2 {
    position: relative;
    left: 12px;  
}

.d12-l2 {
    position: relative;
    left: 12px;
}


.sbpointbg-5 {
margin-top: 1px !important;
}

.fsbmainheadspan strong {
    font-size: 28px !important;
}

.fsbmain-head {
    width: 1270px;
}

.l2-top-head-1{
left: 240px;
}

.l2-top-head-2{
left: 870px;
}

.l2-elemination .level2-sb-1 {
    width: 626px;
    left: 993px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.l2-elemination .level2-sb-1 img {
    position: unset;
}


